<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.feedingindia_semi">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".donor.ForgotPasswordDonor" android:parentActivityName=".donor.LoginActivityDonor"/>
        <activity android:name=".charity.ForgotPasswordCharity" android:parentActivityName=".charity.LoginActivityCharity"/>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".donor.DonationDetailsToCharityDonor"
            android:parentActivityName="donor.CharityDescriptionActivityDonor" />
        <activity
            android:name=".charity.ChatListActivity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.ChatActivity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.DonorDonationDetailListActivity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.AllCommentsByDonorForCharity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".donor.CommentActivityDonor"
            android:parentActivityName=".donor.CharityDescriptionActivityDonor" />
        <activity android:name=".Splash_Screen1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".donor.SettingEditActivityDonor"
            android:parentActivityName=".donor.SettingActivityDonor" />
        <activity
            android:name=".donor.CharityListActivityDonor"
            android:parentActivityName=".donor.MainActivityDonor" />
        <activity
            android:name=".donor.SettingActivityDonor"
            android:parentActivityName=".donor.MainActivityDonor" />
        <activity
            android:name=".donor.RequirementDetailsActivityDonor"
            android:parentActivityName=".donor.MainActivityDonor" />
        <activity
            android:name=".donor.CharityDescriptionActivityDonor"
            android:parentActivityName=".donor.MainActivityDonor" />
        <activity android:name=".donor.MainActivityDonor" />
        <activity android:name=".donor.RegisterActivityDonor" />
        <activity
            android:name=".donor.LoginActivityDonor"
            android:parentActivityName=".BaseActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.PostActivityCharity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.PostEditActivityCharity"
            android:parentActivityName=".charity.PostActivityCharity" />
        <activity
            android:name=".charity.SelectionPostRequirementActivityCharity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.RequirementActivityCharity"
            android:parentActivityName=".charity.SelectionPostRequirementActivityCharity" />
        <activity
            android:name=".charity.RequirementEditActivityCharity"
            android:parentActivityName=".charity.RequirementActivityCharity" />
        <activity
            android:name=".charity.DonorListActivityCharity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name=".charity.SettingActivityCharity"
            android:parentActivityName=".charity.MainActivityCharity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".charity.SettingEditActivityCharity"
            android:parentActivityName=".charity.SettingActivityCharity"
            tools:targetApi="jelly_bean" />
        <activity android:name=".charity.RegisterActivityCharity" />
        <activity
            android:name=".charity.LoginActivityCharity"
            android:parentActivityName=".BaseActivity" />
        <activity android:name=".charity.MainActivityCharity" />
        <activity
            android:name=".donor.PostDetailsActivityDonor"
            android:parentActivityName=".donor.MainActivityDonor" />
        <activity
            android:name=".donor.ChatActivity"
            android:parentActivityName=".donor.CharityListActivityDonor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>